<main role="main">

      <%= render 'home/jumbo' %>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <% @new_freelancers.each do |new_freelancer| %>
                <div class="col-md-6">
                  <h2><%= new_freelancer.full_name %></h2>
                  <p><%= new_freelancer.bio %></p>
                  <p>
                    <a class="btn btn-secondary" href="/messages/new?receiver_id=<%= new_freelancer.user.id %>" role="button">
                      <i class="fa fa-envelope-o"></i> Message me
                    </a>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <% @new_gigs.each do |new_gig| %>
                <div class="col-md-6">
                  <h2><%= new_gig.name %></h2>
                  <p><%= new_gig.description %></p>
                  <a href="/proposals/new?gig_id=<%= new_gig.id %>" class="btn btn-info">Apply for this gig</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
