<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @portfolio_item.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio_item.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @portfolio_item.link %>
</p>

<p>
  <strong>Image:</strong>
  <%= @portfolio_item.image %>
</p>

<p>
  <strong>Position:</strong>
  <%= @portfolio_item.position %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @portfolio_item.slug %>
</p>

<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<%= link_to 'Back', portfolio_items_path %>
