<p id="notice"><%= notice %></p>

<h1>Enquiries</h1>

<%= link_to '<i class="fa fa-caret-up"></i>'.html_safe, enquiries_path(sort: 'asc'), class: 'btn btn-outline-info' %>

<%= link_to '<i class="fa fa-caret-down"></i>'.html_safe, enquiries_path(sort: 'desc'), class: 'btn btn-outline-info' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= enquiry.name %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.subject %></td>
        <td><%= enquiry.message %></td>
        <td><%= link_to 'Show', enquiry %></td>
        <td><%= time_ago_in_words(enquiry.created_at) %> ago</td>
        <td><%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enquiry', new_enquiry_path %>
