<h2>Enquiry</h2>

<p>
  <strong>Name:</strong>
  <%= @enquiry.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enquiry.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @enquiry.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @enquiry.message %>
</p>

<p><strong>Received at:</strong> <%= @enquiry.created_at.strftime('%a %b %e %Y %H:%M:%S %Z') %> </p>

<%= link_to 'Back', admin_path, class: 'btn btn-outline-info' %>
