<p id="notice"><%= notice %></p>

<h1>Freelancer Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Suburb</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Picture</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @freelancer_profiles.each do |freelancer_profile| %>
      <tr>
        <td><%= freelancer_profile.user %></td>
        <td><%= freelancer_profile.first_name %></td>
        <td><%= freelancer_profile.last_name %></td>
        <td><%= freelancer_profile.phone %></td>
        <td><%= freelancer_profile.suburb %></td>
        <td><%= freelancer_profile.postcode %></td>
        <td><%= freelancer_profile.country %></td>
        <td><%= freelancer_profile.latitude %></td>
        <td><%= freelancer_profile.longitude %></td>
        <td><%= freelancer_profile.picture %></td>
        <td><%= freelancer_profile.bio %></td>
        <td><%= link_to 'Show', freelancer_profile %></td>
        <td><%= link_to 'Edit', edit_freelancer_profile_path(freelancer_profile) %></td>
        <td><%= link_to 'Destroy', freelancer_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Freelancer Profile', new_freelancer_profile_path %>
