<p id="notice"><%= notice %></p>

<h1>Org Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Logo</th>
      <th>Contact name</th>
      <th>Contact phone</th>
      <th>Description</th>
      <th>Slug</th>
      <th>Link</th>
      <th>Address</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @org_profiles.each do |org_profile| %>
      <tr>
        <td><%= org_profile.user %></td>
        <td><%= org_profile.name %></td>
        <td><%= org_profile.logo %></td>
        <td><%= org_profile.contact_name %></td>
        <td><%= org_profile.contact_phone %></td>
        <td><%= org_profile.description %></td>
        <td><%= org_profile.slug %></td>
        <td><%= org_profile.link %></td>
        <td><%= org_profile.address %></td>
        <td><%= org_profile.suburb %></td>
        <td><%= org_profile.state %></td>
        <td><%= org_profile.postcode %></td>
        <td><%= org_profile.country %></td>
        <td><%= org_profile.longitude %></td>
        <td><%= org_profile.latitude %></td>
        <td><%= link_to 'Show', org_profile %></td>
        <td><%= link_to 'Edit', edit_org_profile_path(org_profile) %></td>
        <td><%= link_to 'Destroy', org_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Org Profile', new_org_profile_path %>
